.banner{
    height: 78.5vh;
    background: linear-gradient(to bottom, #01539D, #0E0656);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12rem;
}

/* Detail section */
.details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: start;
    text-align: start;
    width: 100%;
}

.details h2 {
    margin: 0;
    color: #FFDD1E;
    font-size: 35px
}

.details h4 {
    margin: 0;
    color: #FFDD1E;
}

.details h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}  
.details h5 {
    margin: 0;
    color: white;
    font-size: larger;
}

.features{
    display: flex;
    flex-direction: column;
}

.features-group{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3rem;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 17px;
    color: white;
}

.feature-item .feature-icon {
    color: yellow;
    font-size: 19px;
}

/* Image section */